In [1]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly
plotly.__version__

'2.0.14'

In [2]:
import pyodbc
import pandas as pd

def database_connection():
    conn = pyodbc.connect(
        r'DRIVER={SQL Server Native Client 11.0};'
        r'SERVER=localhost;'
        r'DATABASE=seis603_pricing_project;'
        r'UID=python_dev;'
        r'PWD=python_dev;'
        )
    cursor = conn.cursor()
    return cursor

db_connection = database_connection()

#set up user and item we are looking up
user_id = 100
item_id = 102

In [3]:

#items tracking
sql = "EXEC [dbo].[usp_GetCurrentTracking] {}".format(user_id)
db_connection.execute(sql)#, params) #executing sproc
list_items = db_connection.fetchall()#[0] #fetchone will only return first result
#df = pd.Series(list_items)
labels = ['item id','item name']
df = pd.DataFrame.from_records(list_items, columns=labels) #create dataframe from list
print(df)

   item id             item name
0      101     Adrenaline GTS 17
1      102  Radian R100 Car Seat

In [4]:
#price history of items
sql = "EXEC [dbo].[usp_GetUserItemPriceHistory] {},{}".format(user_id,item_id)
db_connection.execute(sql)#, params) #executing sproc
list_items = db_connection.fetchall()#[0] #fetchone will only return first result
#list_items['ItemPrice'].replace('None', 0, inplace=True)

print(list_items)

[(102, 'Radian R100 Car Seat', 'Diono', 101, 'Target', Decimal('239.99'), datetime.date(2018, 3, 8)), (102, 'Radian R100 Car Seat', 'Diono', 101, 'Target', Decimal('239.99'), datetime.date(2018, 3, 9)), (102, 'Radian R100 Car Seat', 'Diono', 101, 'Target', Decimal('234.99'), datetime.date(2018, 3, 12)), (102, 'Radian R100 Car Seat', 'Diono', 101, 'Target', Decimal('234.99'), datetime.date(2018, 3, 13)), (102, 'Radian R100 Car Seat', 'Diono', 101, 'Target', Decimal('234.99'), datetime.date(2018, 3, 14)), (102, 'Radian R100 Car Seat', 'Diono', 101, 'Target', Decimal('234.99'), datetime.date(2018, 3, 15)), (102, 'Radian R100 Car Seat', 'Diono', 101, 'Target', Decimal('234.99'), datetime.date(2018, 3, 17)), (102, 'Radian R100 Car Seat', 'Diono', 101, 'Target', Decimal('234.99'), datetime.date(2018, 3, 18)), (102, 'Radian R100 Car Seat', 'Diono', 102, 'Amazon', Decimal('179.99'), datetime.date(2018, 3, 12)), (102, 'Radian R100 Car Seat', 'Diono', 102, 'Amazon', Decimal('209.99'), datetime.date(2018, 3, 13)), (102, 'Radian R100 Car Seat', 'Diono', 102, 'Amazon', Decimal('209.99'), datetime.date(2018, 3, 14)), (102, 'Radian R100 Car Seat', 'Diono', 102, 'Amazon', Decimal('209.99'), datetime.date(2018, 3, 15)), (102, 'Radian R100 Car Seat', 'Diono', 102, 'Amazon', Decimal('209.99'), datetime.date(2018, 3, 17)), (102, 'Radian R100 Car Seat', 'Diono', 102, 'Amazon', Decimal('209.99'), datetime.date(2018, 3, 18)), (102, 'Radian R100 Car Seat', 'Diono', 103, 'Walmart', Decimal('179.99'), datetime.date(2018, 3, 12)), (102, 'Radian R100 Car Seat', 'Diono', 103, 'Walmart', Decimal('234.99'), datetime.date(2018, 3, 15)), (102, 'Radian R100 Car Seat', 'Diono', 103, 'Walmart', Decimal('234.99'), datetime.date(2018, 3, 17)), (102, 'Radian R100 Car Seat', 'Diono', 103, 'Walmart', Decimal('234.99'), datetime.date(2018, 3, 18)), (102, 'Radian R100 Car Seat', 'Diono', 105, 'Toys r Us', Decimal('179.99'), datetime.date(2018, 3, 8)), (102, 'Radian R100 Car Seat', 'Diono', 105, 'Toys r Us', Decimal('179.99'), datetime.date(2018, 3, 9)), (102, 'Radian R100 Car Seat', 'Diono', 105, 'Toys r Us', Decimal('179.99'), datetime.date(2018, 3, 12)), (102, 'Radian R100 Car Seat', 'Diono', 105, 'Toys r Us', Decimal('234.99'), datetime.date(2018, 3, 17))]

In [5]:

#df = pd.Series(list_items)
labels = ['item id','item name','Brand','Store ID', 'Store Name','Item Price','Price Date']
price_history_df = pd.DataFrame.from_records(list_items, columns=labels) #create dataframe from list
print(price_history_df)

    item id             item name  Brand  Store ID Store Name Item Price  \
0       102  Radian R100 Car Seat  Diono       101     Target     239.99
1       102  Radian R100 Car Seat  Diono       101     Target     239.99
2       102  Radian R100 Car Seat  Diono       101     Target     234.99
3       102  Radian R100 Car Seat  Diono       101     Target     234.99
4       102  Radian R100 Car Seat  Diono       101     Target     234.99
5       102  Radian R100 Car Seat  Diono       101     Target     234.99
6       102  Radian R100 Car Seat  Diono       101     Target     234.99
7       102  Radian R100 Car Seat  Diono       101     Target     234.99
8       102  Radian R100 Car Seat  Diono       102     Amazon     179.99
9       102  Radian R100 Car Seat  Diono       102     Amazon     209.99
10      102  Radian R100 Car Seat  Diono       102     Amazon     209.99
11      102  Radian R100 Car Seat  Diono       102     Amazon     209.99
12      102  Radian R100 Car Seat  Diono       102     Amazon     209.99
13      102  Radian R100 Car Seat  Diono       102     Amazon     209.99
14      102  Radian R100 Car Seat  Diono       103    Walmart     179.99
15      102  Radian R100 Car Seat  Diono       103    Walmart     234.99
16      102  Radian R100 Car Seat  Diono       103    Walmart     234.99
17      102  Radian R100 Car Seat  Diono       103    Walmart     234.99
18      102  Radian R100 Car Seat  Diono       105  Toys r Us     179.99
19      102  Radian R100 Car Seat  Diono       105  Toys r Us     179.99
20      102  Radian R100 Car Seat  Diono       105  Toys r Us     179.99
21      102  Radian R100 Car Seat  Diono       105  Toys r Us     234.99

    Price Date
0   2018-03-08
1   2018-03-09
2   2018-03-12
3   2018-03-13
4   2018-03-14
5   2018-03-15
6   2018-03-17
7   2018-03-18
8   2018-03-12
9   2018-03-13
10  2018-03-14
11  2018-03-15
12  2018-03-17
13  2018-03-18
14  2018-03-12
15  2018-03-15
16  2018-03-17
17  2018-03-18
18  2018-03-08
19  2018-03-09
20  2018-03-12
21  2018-03-17

In [6]:

#pivot data
#pvt_price_history =  price_history_df.pivot(index='Price Date',columns='Store Name',values = 'Item Price' )
#fill None with 0
pvt_price_history =  price_history_df.pivot(index='Price Date',columns='Store Name',values = 'Item Price' ).fillna(0)
#pvt_price_history =  price_history_df.pivot(index='Price Date',columns='Store Name',values = 'Item Price' ).fillna(method='bfill', inplace=True)

print(pvt_price_history)

Store Name  Amazon  Target Toys r Us Walmart
Price Date
2018-03-08       0  239.99    179.99       0
2018-03-09       0  239.99    179.99       0
2018-03-12  179.99  234.99    179.99  179.99
2018-03-13  209.99  234.99         0       0
2018-03-14  209.99  234.99         0       0
2018-03-15  209.99  234.99         0  234.99
2018-03-17  209.99  234.99    234.99  234.99
2018-03-18  209.99  234.99         0  234.99

In [7]:
#unpvit the price 
upvt_price_history = pvt_price_history.unstack().reset_index(name='Item Price')

print(upvt_price_history)

   Store Name  Price Date Item Price
0      Amazon  2018-03-08          0
1      Amazon  2018-03-09          0
2      Amazon  2018-03-12     179.99
3      Amazon  2018-03-13     209.99
4      Amazon  2018-03-14     209.99
5      Amazon  2018-03-15     209.99
6      Amazon  2018-03-17     209.99
7      Amazon  2018-03-18     209.99
8      Target  2018-03-08     239.99
9      Target  2018-03-09     239.99
10     Target  2018-03-12     234.99
11     Target  2018-03-13     234.99
12     Target  2018-03-14     234.99
13     Target  2018-03-15     234.99
14     Target  2018-03-17     234.99
15     Target  2018-03-18     234.99
16  Toys r Us  2018-03-08     179.99
17  Toys r Us  2018-03-09     179.99
18  Toys r Us  2018-03-12     179.99
19  Toys r Us  2018-03-13          0
20  Toys r Us  2018-03-14          0
21  Toys r Us  2018-03-15          0
22  Toys r Us  2018-03-17     234.99
23  Toys r Us  2018-03-18          0
24    Walmart  2018-03-08          0
25    Walmart  2018-03-09          0
26    Walmart  2018-03-12     179.99
27    Walmart  2018-03-13          0
28    Walmart  2018-03-14          0
29    Walmart  2018-03-15     234.99
30    Walmart  2018-03-17     234.99
31    Walmart  2018-03-18     234.99

In [8]:
#replace 0 with None so we can front fill later
upvt_price_history['Item Price'].replace(
    to_replace=[0],
    value=None,
    inplace=True
)

print(upvt_price_history)

   Store Name  Price Date Item Price
0      Amazon  2018-03-08          0
1      Amazon  2018-03-09          0
2      Amazon  2018-03-12     179.99
3      Amazon  2018-03-13     209.99
4      Amazon  2018-03-14     209.99
5      Amazon  2018-03-15     209.99
6      Amazon  2018-03-17     209.99
7      Amazon  2018-03-18     209.99
8      Target  2018-03-08     239.99
9      Target  2018-03-09     239.99
10     Target  2018-03-12     234.99
11     Target  2018-03-13     234.99
12     Target  2018-03-14     234.99
13     Target  2018-03-15     234.99
14     Target  2018-03-17     234.99
15     Target  2018-03-18     234.99
16  Toys r Us  2018-03-08     179.99
17  Toys r Us  2018-03-09     179.99
18  Toys r Us  2018-03-12     179.99
19  Toys r Us  2018-03-13     179.99
20  Toys r Us  2018-03-14     179.99
21  Toys r Us  2018-03-15     179.99
22  Toys r Us  2018-03-17     234.99
23  Toys r Us  2018-03-18     234.99
24    Walmart  2018-03-08     234.99
25    Walmart  2018-03-09     234.99
26    Walmart  2018-03-12     179.99
27    Walmart  2018-03-13     179.99
28    Walmart  2018-03-14     179.99
29    Walmart  2018-03-15     234.99
30    Walmart  2018-03-17     234.99
31    Walmart  2018-03-18     234.99

In [14]:
#front fill all the data
upvt_price_history.groupby('Price Date')['Item Price'].fillna(method='bfill') 

print(upvt_price_history)

   Store Name  Price Date Item Price
0      Amazon  2018-03-08          0
1      Amazon  2018-03-09          0
2      Amazon  2018-03-12     179.99
3      Amazon  2018-03-13     209.99
4      Amazon  2018-03-14     209.99
5      Amazon  2018-03-15     209.99
6      Amazon  2018-03-17     209.99
7      Amazon  2018-03-18     209.99
8      Target  2018-03-08     239.99
9      Target  2018-03-09     239.99
10     Target  2018-03-12     234.99
11     Target  2018-03-13     234.99
12     Target  2018-03-14     234.99
13     Target  2018-03-15     234.99
14     Target  2018-03-17     234.99
15     Target  2018-03-18     234.99
16  Toys r Us  2018-03-08     179.99
17  Toys r Us  2018-03-09     179.99
18  Toys r Us  2018-03-12     179.99
19  Toys r Us  2018-03-13     179.99
20  Toys r Us  2018-03-14     179.99
21  Toys r Us  2018-03-15     179.99
22  Toys r Us  2018-03-17     234.99
23  Toys r Us  2018-03-18     234.99
24    Walmart  2018-03-08     234.99
25    Walmart  2018-03-09     234.99
26    Walmart  2018-03-12     179.99
27    Walmart  2018-03-13     179.99
28    Walmart  2018-03-14     179.99
29    Walmart  2018-03-15     234.99
30    Walmart  2018-03-17     234.99
31    Walmart  2018-03-18     234.99

In [15]:
# repivot for graphing
pvt_price_history2 =  upvt_price_history.pivot(index='Price Date',columns='Store Name',values = 'Item Price' ).fillna(0)
print(pvt_price_history2)

Store Name  Amazon  Target Toys r Us Walmart
Price Date
2018-03-08       0  239.99    179.99  234.99
2018-03-09       0  239.99    179.99  234.99
2018-03-12  179.99  234.99    179.99  179.99
2018-03-13  209.99  234.99    179.99  179.99
2018-03-14  209.99  234.99    179.99  179.99
2018-03-15  209.99  234.99    179.99  234.99
2018-03-17  209.99  234.99    234.99  234.99
2018-03-18  209.99  234.99    234.99  234.99

In [16]:
import plotly.plotly as py
import cufflinks as cf
import pandas as pd
import numpy as np
print (cf.__version__)

0.12.1

In [17]:
import plotly.graph_objs as go

#Price history for car seat
df = pvt_price_history2

py.iplot([{
    'x': df.index,
    'y': df[col],
    'name': col
}  for col in df.columns], filename='simple-line', title="test")
#print(df)

In [18]:
amazon = upvt_price_history.loc[upvt_price_history['Store Name'] == 'Amazon']
walmart = upvt_price_history.loc[upvt_price_history['Store Name'] == 'Walmart']
toysrus = upvt_price_history.loc[upvt_price_history['Store Name'] == 'Toys r Us']
target = upvt_price_history.loc[upvt_price_history['Store Name'] == 'Target']


amazon_trace = go.Scatter(
    x = list(amazon['Price Date']),#dates
    y = list(amazon['Item Price']),
    name = 'Amazon',
    line = dict(
        color = ('rgb(49, 86, 219)'),
        width = 4)
)


walmart_trace = go.Scatter(
    x = list(walmart['Price Date']),#dates
    y = list(walmart['Item Price']),
    name = 'Walmart',
    line = dict(
        color = ('rgb(205, 12, 24)'),
        width = 4)
)

toys_trace = go.Scatter(
    x = list(toysrus['Price Date']),#dates
    y = list(toysrus['Item Price']),
    name = 'Toys r Us',
    line = dict(
        color = ('rgb(49, 177, 32)'),
        width = 4)
)

target_trace = go.Scatter(
    x = list(target['Price Date']),#dates
    y = list(target['Item Price']),
    name = 'Target',
    line = dict(
        color = ('rgb(255, 153, 0)'),
        width = 4)
)


data = [amazon_trace, walmart_trace, toys_trace, target_trace]

layout = go.Layout(
    title='Price Hisotry for Diono Radian R100 Car Seat',
    xaxis=dict(
        title='Date',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='Item Price',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='simple-line', title="test")